*{
    margin: 0;
    padding: 0;
}
main {
    padding: 20;
}
body {
    background-color: rgb(0, 0, 0);
}
h1,h2,p {
    color: aliceblue;
}
h2,h1{
    text-align: center;
}

.card-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


.card-container .card img{
    width: 200px;
    max-width: 200px;
}

.card-container .card{
    border: px solid black;
    /* arredondar borda dos cards */
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    padding: 20px;
    /*      top rh low left cor */
    box-shadow: 0 0 12px 12px blue ;
    
}

.card img {
    margin: 0 auto;
    border-radius: 20px;
}

